# IDEA
.idea
*.iml
*.ipr
*.iws
out

# VS Code
.vscode-test

# Cloudflare
.wrangler

# Maven
target/
*.war
*.zip
#*.jar
#*.tar
#*.tar.gz
!.mvn/wrapper/*

# Eclipse
# .project
# .settings/
# .classpath
bin/
classes/
.metadata/
EclipseWork/
.externalToolBuilders/

# STS(Spring Tool Suite)
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NPM
.npm
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Grunt
.grunt

# Bower
bower_components

# Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Operational data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory
web_modules/

# Python cache
__pycache__

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Parcel-bundler cache
.cache
.parcel-cache

# Gatsby cache
.cache/

# Temp and cache
.temp

# FuseBox cache
.fusebox/

# Compiled binary addons
dist
build/Release

# Next.js build output
.next

# Nuxt.js build output
.nuxt

# Vuepress build output
.vuepress/dist

# OS Temp
.DS_Store
Thumbs.db
ehthumbs.db

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TernJS port file
.tern-port

# DynamoDB Local files
.dynamodb/

# Optional REPL history
.node_repl_history

# Serverless directories
.serverless/

# Node-waf configuration
.lock-wscript

# Nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
*.lcov
coverage

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov
